.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.navigation ul {
    list-style: none;
}
.navigation ul {
    display: flex;
    gap: 1rem;
}

ul li > * {
    text-decoration: none;
}
